@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        var user = await Context.GetIdentityServerUserAsync();
        name = user?.FindFirst("name")?.Value;
    }
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <!-- <img class="icon" src="~/CellarstoneIcon.png" style="max-width: 64px; max-height: 64px;"> -->
                Vítejte @name u Cellarstone
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

     <div class="row">
        <div class="col-sm-8">
            <p>
                Zaregistrujte se
                <a href="/Account/Register"> na této stránce.</a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Přihlaste se 
                <a href="/Account/Login">pomocí svého účtu.</a> 
            </p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-8">
            <p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
            </p>
        </div>
    </div> -->
</div>
